name: New Pipeline
on: 
  push:
    branches: ["release"]

jobs:
  test-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: action/setup-node@v4
      - run: npm install
      - run: npm test
      - run: npm run build